<template>
  <q-form
    @submit="submitForm">
    <q-input
      v-if="tab == 'register'"
      outlined
      v-model="formData.name"
      class="q-mb-md"
      label="Nombre" />

      <q-input
      outlined
      v-model="formData.email"
      class="q-mb-md"
      type="email"
      label="Email" />

      <q-input
      outlined
      v-model="formData.password"
      class="q-mb-md"
      type="password"
      label="Contraseña" />
      <div class="row justify-end">
        <q-btn
        color="primary"
        type="submit"
        :label="tab == 'login'? 'login' : 'registrarse'" />
      </div>
  </q-form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: ['tab'],
  data() {
    return {
      formData: {
        name: '',
        email: 'lucasgasguzman@gmail.com',
        password: 'entusiasmo',
      }
    }
  },
  methods: {
    ...mapActions('store', ['registerUser', 'loginUser']),
    submitForm() {
      if (this.tab == 'login'){
        this.loginUser(this.formData)
      }
      else {
        this.registerUser(this.formData)
      }
    }
  }
}
</script>

<style>

</style>
